.main__content {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;

    width: 900px;
    height: 747px;
}

.main-data {
    width: 100%;
    height: 100%;
}

.data-name {
    margin-top: 185px;
    margin-left: 151px;
}

.data-name p {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 56px;
    line-height: 76.26px;
    text-transform: uppercase;

    -webkit-text-stroke: 2px var(--white);
    -webkit-text-fill-color: transparent;
}

.agents-img {
    display: flex;
    flex-direction: column;

    margin-top: 42px;
    margin-left: 151px;
}

.agents-stroke-back {
    display: flex;
    gap: 28px;
}

.agents-stroke {
    position: relative;
    top: -166px;
    left: 8px;

    display: flex;
    gap: 28px;
}

.agents-stroke-01 {
    width: 170px;
    height: 170px;

    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
    background: var(--red-light);
}

.agents-stroke-02 {
    width: 170px;
    height: 170px;

    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
    background: var(--red-light);
}

.agents-stroke-03 {
    width: 170px;
    height: 170px;

    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
    background: var(--red-light);
}

.agents-photo {
    position: relative;
    top: -334px;
    left: 10px;

    display: flex;
    gap: 28px;
}

.agents-img-01 {
    width: 166px;
    height: 166px;

    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%, 0 8%);

    background: url('../image/omen.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.agents-img-02 {
    width: 170px;
    height: 166px;

    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%, 0 8%);

    background: url('../image/sage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.agents-img-03 {
    margin-left: 4px;

    width: 166px;
    height: 166px;

    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%, 0 8%);

    background: url('../image/sova.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.agents-name {
    position: relative;
    top: -332px;
    left: 151px;
    
    display: flex;
    gap: 150px;

    padding-top: 12px;
    padding-left: 58px;

    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 0.1em;

    color: var(--red-light);
}

.agents-name-03 p {
    padding-left: 10px;    
}

.agents-model {
    position: absolute;
    top: -1px;
    left: 1000px;

    width: 592px;
    height: 798px;

    background: url('../image/phoenix.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1440px) {
    .main__content {
        width: 750px;
    }
    
    .data-name {
        margin-left: 80px;
    }
    
    .agents-img {
        margin-left: 80px;
    }
    
    .agents-stroke-back {
        display: flex;
        gap: 28px;
    }
    
    .agents-name {
        left: 80px;
    }
    
    .agents-model {
        position: absolute;
        top: -1px;
        left: 800px;
    
        width: 592px;
        height: 798px;
    }
}